
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 50px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}
.title-label {
  font-weight: bold;
  font-size: 30px;
  margin-top: 15px;
}
.title-box {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  width: 200px;
}
input, textarea {
  width: 25%;
  height: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.ingredients-box{
    width: 20%;
    height: 300px;
}
.instructions-box {
    width: 50%;
    height: 300px;
}
.image-button {
  padding: 10px 15px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  width: 10%;
  font-size: 14px;
  cursor: pointer;
}
.time-row {
  display: flex;
  gap: 15px;
  width: 100px;

}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}
textarea {
  resize: vertical;
  min-height: 80px;
}

.small-input {
  width: 100px;
}
button {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}