body {
    font-family:Arial, sans-serif;
    background: white; 
    margin: 0; 
    padding: 20px; 
}

h1 {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;

}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    width: 90%; 
    padding: 10px; 
    margin-bottom: 20px;
    font-size: 14px; 
}

button {
    width: 100%; 
    padding: 12px; 
    color: white; 
    border: none; 
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer; 
    background-color: #28a745;
}

button:hover{
    background: green; 
}

.logout-btn {
    background: red;
    width: auto;
    padding: 10px 20px; 
}

.logout-btn:hover {
    background-color: blue;
}

.msg {
    text-align: center;
    margin-top: 12px; 
    font-size:14px; 
    color: red; 
}

.msg.success {
    color: green; 
}

.switch-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px; 
}

.top-bar {
    display:flex; 
    justify-content: flex-end;
    margin-top: 20px;
}

.Welcome {
    max-width: 500px;
    margin: 60px auto;
    background: white; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 2px 8px black; 
    text-align: center;
}

.Welcome p {
    font-size: 16px;
    margin-top: 20px;
}

.nav-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin: 6px;
    width: auto;
}

.nav-btn:hover {
    background: #218838;
}
